<script type="text/javascript" src="<%= @endpoint %>"></script>
<%= render 'businesses/map' %>
<div class="menubar">
  <div class="ui secondary  menu">
    <%= link_to raw("<i class='home icon'></i> Home"), root_path, class: "item" %>
    <%= link_to raw("<i class='food icon'></i> Happy Hour Listing"), businesses_path, class: "item" %>
    <%= link_to raw("<i class='user icon'></i> Edit Business"), edit_business_path, class: "item" %>
    <%= link_to raw("<i class='document icon'></i> Add Review"), new_business_review_path(@business), class: "item" %>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen wide column">
    
<div class="map_info_container" style="width: 200px; background: #fff; border: 1px solid darkgray; overflow: hidden; float: right;">
  <div id="map-canvas" style="width: 200px; height: 130px; background: #000;">f</div>
  <div id="address_details" style="width: 200px; padding: 6px;">
    <h5 class="normalize">Address:</h5>
    <%= @business.address %> <%= @business.address_2 %><br>
    <%= @business.city %>, <%= @business.state %> <%= @business.zip %>
  </div>
</div>

    <div class="photo_business"><%= image_tag @business.photos[@business.photos.length-2].photo.url %></div>

    <h1 class="normalize"><%= @business.name %></h1>


  </div>
</div>

<hr>

<div class="ui grid">
  <div class="eleven wide column">
  <h1 class="normalize">REVIEWS</h1>

    <div class="ui comments">
      <% @business.reviews.each do |review| %>
      <div class="comment">
        <a class="avatar">
          <%= image_tag review.user.photo.url if review.user.photo.url %>
        </a>
        <div class="content">
          <a class="author"><%= "#{User.find(review.user_id.to_i).first_name} #{User.find(review.user_id.to_i).last_name}" unless review.user_id.to_i == 0 %></a>
          <div class="metadata">
            <div class="title"><%= review.title %></div>
          </div>
          <div class="text">
            <%= simple_format(review.body) %>
          </div>
          <div class="actions">
            <a class="reply"><%= "Posted " + time_ago_in_words(review.created_at) + " ago." unless review.created_at.blank? %></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
  <div class="five wide column">
    <div class="business_detail_column">
      <div class="ui dividing header">Business Hours</div>
      Monday: <% if @business.hour.mon_open %><%= @business.hour.mon_open.strftime('%l:%M%p') %><% else %>???<% end %> - <% if @business.hour.mon_close %><%= @business.hour.mon_close.strftime('%l:%M%p') %><% else %>???<% end %>

      <div class="ui dividing header">Happy Hour</div>
    </div>
  </div>
</div>

<button class="test ui button">Add Photo</button>

<div class="ui modal">
 <i class="close icon"></i>
 <div class="header">
   Upload a Photo for <%= @business.name %>
 </div>
 <div class="content">
    <div class="ui small form segment">
      <div class="description">
        <%= form_for [@business, Photo.new] do |f| %>
        <div class="field">
          <label>Photo:</label> <%= f.file_field :photo, class: "ui input" %>
        </div>
        <div class="field">
          <label>Caption:</label> <%= f.text_field :caption, class: "ui input" %>
             <%= f.submit "Add Photo", class: "ui button" %>
        </div>
      </div>
    </div>
 </div>
 <div class="actions">
   <div class="ui button">Cancel</div>
   <%= f.submit "Add Photo", class: "ui button" %>
   <% end %>
 </div>
</div>



