<script type="text/javascript" src="<%= @endpoint %>"></script>

<%= render 'businesses/menu_bar' %>

<div class="ui grid">
  <div class="sixteen wide column">
    
<div class="map_info_container" style="width: 200px; background: #fff; border: 1px solid darkgray; overflow: hidden; float: right;">
  <div id="map-canvas" style="width: 200px; height: 130px; background: #000;"></div>
  <div id="address_details" style="width: 200px; padding: 6px;">
    <h5 class="normalize">Address:</h5>
    <%= @business.address %> <%= @business.address_2 %><br>
    <%= @business.city %>, <%= @business.state %> <%= @business.zip %><br><br>
    <%= "<b>Phone:</b> #{number_to_phone(@business.phone, area_code: true)}".html_safe if @business.phone %><br><br>
    <%= "<b>Website:</b><br> #{@business.website}".html_safe if @business.website %>
  </div>
</div>

    <div class="photo_business"><%= image_tag @business.photos[@business.photos.length-2].photo.url %></div>

    <h1 class="normalize"><%= @business.name %></h1>
    <p class="normalize"><%= "#{@business.reviews.count} reviews." %></p>
    <br><br>
    <button class="test ui mini blue button">Add Photo</button>


  </div>
</div>

<hr style="margin-bottom: 10px;">

<div class="ui grid">
  <div class="eleven wide column">
  <h1 class="ui dividing header">REVIEWS</h1>

<% @business.reviews.order(created_at: :desc).each do |review| %>
    <div class="review_container">
      <div class="review_user">
        <%= image_tag review.user.photo.url, class: "review_avatar" if review.user.photo.url %><strong><%= link_to "#{User.find(review.user_id.to_i).first_name} #{User.find(review.user_id.to_i).last_name}", user_path(review.user_id) unless review.user_id.to_i == 0 %></strong>
      </div>
      <div class="review_body">
        <strong><%= review.title %></strong> - <span class="small_text"><%= "Posted " + time_ago_in_words(review.created_at) + " ago." unless review.created_at.blank? %></span><br>
        <p class="normalize small_text"><b class="small_text">Rating: 5</b></p>
        <p style="padding-top: 8px;"><%= simple_format(review.body) %></p>
      </div>
    </div>
<% end %>

  </div>
  <div class="five wide column">
    <div class="business_detail_column">
      <div class="ui dividing header">Business Hours</div>
        <table>
          <tr><td class="day_column">Monday:</td><td class="hours_column"><%= "#{@business.hour.mon_open.strftime('%l:%M%p')} - #{@business.hour.mon_close.strftime('%l:%M%p')}" if @business.hour.mon_open && @business.hour.mon_close %></td></tr>
          <tr><td class="day_column">Tuesday:</td><td class="hours_column"><%= "#{@business.hour.tue_open.strftime('%l:%M%p')} - #{@business.hour.tue_close.strftime('%l:%M%p')}" if @business.hour.tue_open && @business.hour.tue_close %></td></tr>
          <tr><td class="day_column">Wednesday:</td><td class="hours_column"><%= "#{@business.hour.wed_open.strftime('%l:%M%p')} - #{@business.hour.wed_close.strftime('%l:%M%p')}" if @business.hour.wed_open && @business.hour.wed_close %></td></tr>
          <tr><td class="day_column">Thursday:</td><td class="hours_column"><%= "#{@business.hour.thu_open.strftime('%l:%M%p')} - #{@business.hour.thu_close.strftime('%l:%M%p')}" if @business.hour.thu_open && @business.hour.thu_close %></td></tr>
          <tr><td class="day_column">Friday:</td><td class="hours_column"><%= "#{@business.hour.fri_open.strftime('%l:%M%p')} - #{@business.hour.fri_close.strftime('%l:%M%p')}" if @business.hour.fri_open && @business.hour.fri_close %></td></tr>
          <tr><td class="day_column">Saturday:</td><td class="hours_column"><%= "#{@business.hour.sat_open.strftime('%l:%M%p')} - #{@business.hour.sat_close.strftime('%l:%M%p')}" if @business.hour.sat_open && @business.hour.sat_close %></td></tr>
          <tr><td class="day_column">Sunday:</td><td class="hours_column"><%= "#{@business.hour.sun_open.strftime('%l:%M%p')} - #{@business.hour.sun_close.strftime('%l:%M%p')}" if @business.hour.sun_open && @business.hour.sun_close %></td></tr>
        </table>
      <div class="ui dividing header">Happy Hour Details</div>
        <table>
          <tr><td class="day_column">Monday:</td><td class="hours_column"><%= "#{@business.hour.mon_start.strftime('%l:%M%p')} - #{@business.hour.mon_end.strftime('%l:%M%p')}" if @business.hour.mon_start && @business.hour.mon_end %></td></tr>
          <tr><td class="day_column">Tuesday:</td><td class="hours_column"><%= "#{@business.hour.tue_start.strftime('%l:%M%p')} - #{@business.hour.tue_end.strftime('%l:%M%p')}" if @business.hour.tue_start && @business.hour.tue_end %></td></tr>
          <tr><td class="day_column">Wednesday:</td><td class="hours_column"><%= "#{@business.hour.wed_start.strftime('%l:%M%p')} - #{@business.hour.wed_end.strftime('%l:%M%p')}" if @business.hour.wed_start && @business.hour.wed_end %></td></tr>
          <tr><td class="day_column">Thursday:</td><td class="hours_column"><%= "#{@business.hour.thu_start.strftime('%l:%M%p')} - #{@business.hour.thu_end.strftime('%l:%M%p')}" if @business.hour.thu_start && @business.hour.thu_end %></td></tr>
          <tr><td class="day_column">Friday:</td><td class="hours_column"><%= "#{@business.hour.fri_start.strftime('%l:%M%p')} - #{@business.hour.fri_end.strftime('%l:%M%p')}" if @business.hour.fri_start && @business.hour.fri_end %></td></tr>
          <tr><td class="day_column">Saturday:</td><td class="hours_column"><%= "#{@business.hour.sat_start.strftime('%l:%M%p')} - #{@business.hour.sat_end.strftime('%l:%M%p')}" if @business.hour.sat_start && @business.hour.sat_end %></td></tr>
          <tr><td class="day_column">Sunday:</td><td class="hours_column"><%= "#{@business.hour.sun_start.strftime('%l:%M%p')} - #{@business.hour.sun_end.strftime('%l:%M%p')}" if @business.hour.sun_start && @business.hour.sun_end %></td></tr>
        </table>
    </div>
  </div>
</div>



<div class="ui modal">
 <i class="close icon"></i>
 <div class="header">
   Upload a Photo for <%= @business.name %>
 </div>
 <div class="content">
    <div class="ui small form segment">
      <div class="description">
        <%= form_for [@business, Photo.new] do |f| %>
        <div class="field">
          <label>Photo:</label> <%= f.file_field :photo, class: "ui input" %>
        </div>
        <div class="field">
          <label>Caption:</label> <%= f.text_field :caption, class: "ui input" %>
        </div>
        <div class="field">
          <%= f.submit "Add Photo", class: "ui button" %>
        <% end %>
        </div>
      </div>
    </div>
 </div>
 <div class="actions">
   <div class="ui button">Cancel</div>
 </div>
</div>
<%= render 'businesses/map' %>


