			<%= form_tag('/login', method: :post) do %>
				<div class="ui input">
				<p>Email: <%= text_field_tag :email %></p>
				</div>
				<div class="ui input">
				<p>Password: <%= password_field_tag :password %></p>
				</div>
				<div class="ui input">
				<%= submit_tag "Login", class: "btn btn-primary" %>
				</div>

			<% end %>

			<%= params %>