<%#= form_for @user do |f| %>
<div class="ui attached message">
  <div class="header">
    Welcome to #happyLA!
  </div>
  <p>Fill out the form below to sign-up for a new account</p>
</div>
<%= form_for @user, :html => { :class => "ui form attached fluid segment" } do |f| %>
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <%= f.text_field :first_name, placeholder: "First Name..." %>
    </div>
    <div class="field">
      <label>Last Name</label>
      <%= f.text_field :last_name, placeholder: "Last Name..." %>
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Username</label>
      <%= f.text_field :username, placeholder: "Desired username..." %>
    </div>
    <div class="field">
      <label>E-mail</label>
      <%= f.text_field :email, placeholder: "E-mail address..." %>
    </div>
  </div>
  <div class="field">
    <label>Password</label>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <label>Confirm Password</label>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Create Account", class: "ui blue submit button" %>
<% end %>
<div class="ui bottom attached warning message">
  <i class="icon help"></i>
  Already signed up? <%= link_to "Login here", '/login' %> instead.
</div>


      <div id="user-widget" style="width: 300px; margin: 0 auto;">
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <center>- or -</center><br>
          <center><%= link_to "Sign Up with Facebook", "/auth/facebook", id: "sign_in", class: "ui facebook button" %></center>
        <% end %>
      </div>