<%= render 'users/menu_bar' %>

<div class="ui grid">
  <div class="sixteen wide column">
    <%= image_tag @user.photo.url, class: "ui left floated image" if @user.photo? %>
    <h1 class="normalize"><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <span class="subheading"><%= @user.username %>: <i>"<%= @user.headline %>"</i></span>

    <strong>Nickname:</strong>
    <p><%= @user.nickname %></p>
    
    <strong>Website:</strong>
    <p><%= link_to @user.website, @user.website %></p>    

    <strong>Current Location:</strong>
    <p><%= @user.location %></p>    

    <strong>Hometown:</strong>
    <p><%= @user.hometown %></p>

  </div>
</div>




<button class="test">Press Me</button>



<div class="ui modal">
 <i class="close icon"></i>
 <div class="header">
   Modal Title
 </div>
 <div class="content">
   <div class="image">
     An image can appear on left or an icon
   </div>
   <div class="description">
     A description can appear on the right
   </div>
 </div>
 <div class="actions">
   <div class="ui button">Cancel</div>
   <div class="ui button">OK</div>
 </div>
</div>