<%= render 'pages/menu_bar' %>

<div class="ui grid">
  <div class="nine wide column">
  <h4 class="ui dividing header">Recently Added Businesses</h4>    
<% @businesses.order(created_at: :desc).limit(5).each do |business| %>
  <%= business.name %>
  <%= business.reviews.count %>
<% end %>


  </div>
  <div class="seven wide column">
  <h4 class="ui dividing header">Recently Added Reviews</h4>
<% @reviews.order(created_at: :desc).limit(5).each do |review| %>
  
  <%= review.business.name if review.business %><%= review.title %> <%= review.body %>
<% end %>

  </div>
</div>




