<div class="menubar">
  <div class="ui secondary menu">
    <%= link_to raw("<i class='home icon'></i> Home"), root_path, class: "active item" %>
    <%= link_to raw("<i class='food icon'></i> Happy Hour Listing"), businesses_path, class: "item" %>
    <% if current_user %>
    <%= link_to raw("<i class='food icon'></i> Add Business"), new_business_path, class: "item" if current_user.admin? %>
    <% end %>
    <div class="right menu">
    <%= link_to raw("<i class='user icon'></i> About Me"), user_path(current_user.id), class: "item" if current_user %>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="nine wide column">
  <h4 class="ui dividing header">Recently Added Businesses</h4>    
<% @businesses.order(created_at: :desc).limit(5).each do |business| %>
  <%= business %>
<% end %>


  </div>
  <div class="seven wide column">
  <h4 class="ui dividing header">Recently Added Reviews</h4>
<% @reviews.order(created_at: :desc).limit(5).each do |review| %>
  
  <%= review.business.name if review.business %><%= review.title %> <%= review.body %>
<% end %>

  </div>
</div>




