<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "#happyLA - it's happy hour somewhere!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Header -->
    <div class="header_container">
       <div class="ui grid">
          <div class="four wide column"><%= link_to image_tag("logo.png"), root_path, class: "logo" %></div>
          <div class="eight wide center aligned column">
             <!-- Semantic: Search Field -->
              <div class="ui form search">
                <div class="inline fields">
                  <div class="field">
                    <label>Search:</label>
                    <input placeholder="search text.." type="text">
                  </div>
                </div>
              </div>
             <!-- Semantic: Search Field End -->
          </div>
          <div class="four wide column">
             <% if current_user %>
                <div class="login_area">
                <% if current_user.photo? %>
                  <%= link_to image_tag(current_user.photo.url), user_path(current_user), class: "ui avatar image borderit" %>
                <% end %>
                <strong><%= current_user.email %></strong>
                <%= link_to "Log Out", '/logout', method: :delete %>
                </div>
                <% else %>
                <%= link_to "Log In", '/login' %>
                <%= link_to "Sign Up", '/signup' %>
             <% end %>
          </div>
       </div>
    </div>
    <!-- Header End -->

    <div class="body_container">
       <div class="container">

          <%= yield %>

       </div> <!-- Container End -->
    </div> <!-- Body Container End -->
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
